:root {
    --brandcolor: #2196F3;
    --secondary-accent-color: #188CE8;
    --backgroundcolor: #FFFFFF;
    --text-color: #fff;
    --accent-bcg-color: #2F303A;
    --secondary-bcg-color: #F5F4FA;
    --hcolor: #212121;
    --pcolor: #757575;
    --logocolor: #000000;
}

/* Глобальны зміни */

img {
    display: block;
}

h1,
h2,
h3,
ul,
p {
    margin: 0px 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--backgroundcolor);
    color: var(--hcolor);

}



.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

/* Студія */

/* Logo head  */

.header {
    border: 1px solid #ECECEC;
}

.container-nav {
    display: flex;
    
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logocolor);
}

.logo-accent {
    color: var(--brandcolor);
}

/* Nav */

.nav {
    display: flex;
    align-items: center;
}

.list-nav .link.current {
    position: relative;
    color: var(--brandcolor);
}

.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--brandcolor);
    border-radius: 2px;
    transform:translateY(1px);
}

.list-nav {
    display: flex;
    margin-left: 93px;
}

.list-nav .item + .item {
    margin-left: 50px;
}

.list-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--hcolor);


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
    color: var(--brandcolor);
}

/* Contacts Nav */

.contacts-nav {
    display: flex;
    margin-left: auto;
}

.contacts-nav .item + .item {
    margin-left: 50px;
}

.contacts-nav .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-style: normal;
    line-height: 1.14;
    font-size: 14px;
    color: var(--pcolor);
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
    color: var(--brandcolor);
}

.link-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Main Studio */
.hero {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: var(--accent-bcg-color);
    text-align: center;
    

}

.hero-title {
    max-width: 696px;
    margin: 0 auto 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color);
}

.hero-button {
    padding: 10px 32px;
    min-width: 216px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-color);
    background-color: var(--brandcolor);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
}

/*Our advantages */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.our-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-list .item {
    width: 270px;
}

.advantages-list .item+.item {
    margin-left: 30px;
}

.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bcg-color);
}

.advantages-title {
    margin-bottom: 10px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--pcolor)
}

/* We do */

.we-do {
    padding-bottom: 94px;
}

.we-do .list {
    display: flex;
    justify-content: space-between;
}

.we-do-title,
.our-team-title {
    margin-bottom: 50px;

    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.box-we-do {
    position: relative;
}

.box-we-do .text {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

/* our team */
.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-bcg-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list .item {
    padding-bottom: 30px;
    text-align: center;
    background: var(--backgroundcolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-team {
    margin-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.job-title {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--pcolor);
    margin-bottom: 16px;
}

/* social */

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.link-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    color: #afb1b8;
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
    color: var(--backgroundcolor);
    background-color: var(--brandcolor);
}

.link-social:not(:last-child) {
    margin-right: 10px;
}

.icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
}

/* Section clients */

.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-icon {
    display: flex;
}

.list-icon .item:not(:last-child) {
    margin-right: 30px;
}

.link-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    gap: 30px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus {
    color: var(--brandcolor);
    border: 1px solid var(--brandcolor);
}

.icon-clients {
    fill: currentColor;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--accent-bcg-color) ;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--text-color);
}

.street-contact {
    display: inline-block;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-list {
    margin-bottom: 9px;
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer social link */

.footer-icon-wrapper {
    margin-left: 70px;
}

.text-footer-social {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list-footer-social {
    display: flex;
    margin-top: 20px;
}

.link-social-footer {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);


}

.item-social-footer:not(:last-child){
    margin-right: 10px;
}

/* Portfolio */

/* Filter */

.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filter-list .item + .item {
    margin-left: 8px;
}

.filter-button {
    padding: 6px 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--hcolor);
    border: none;
    background-color: var(--secondary-bcg-color);
    cursor: pointer;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: var(--brandcolor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

/* Portfolio cards */

.portfolio-list .item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-box {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.portfolio-title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--pcolor);
    
}

.box-overlay{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;

    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-overlay:hover .overlay {
    transform: translateY(0);
}

/* Modal window backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: perspective(600px) translate(-50%, -50%) rotateX(60deg);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-modal {
   position: absolute;
   top: 8px;
   right: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
}

.button-modal:focus,
.button-modal:hover {
    fill: var(--brandcolor)
}

/* Modal Form */

.form-modal {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.form-field-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-modal {
    
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    font-size: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: var(--brandcolor);
}

.icon-input {
    position: absolute;
    top: 50%;
    left: 12px;
}

.input-modal:focus~.icon-input {
    fill: var(--brandcolor);
}

.text-form-modal {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;


    font-size: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--brandcolor);
}


/* Checkbox */

.check {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 424px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.check-text,
.check-text-link {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.check-text-link {
    margin-left: 0;
}

.check-input {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.check-box {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-box {
    background-color: #2196F3;
    border-color: #2196F3;
    background-image: url(../images/icon\ check.svg);
    background-size: contain;
    background-origin: border-box;
}

.check-text-link {
    color: var(--brandcolor);
}

.textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

/* Button Form */

.modal-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/* Form footer */

.form-footer {
    width: 570px;
    margin-left: 93px;
}

.form-footer .text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-field {
    display: flex;
    margin-top: 20px;
}

.form-field input {
    padding: 0;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    background-color: var(--accent-bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF
}

.form-field input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    margin-left: auto;
    border-color: var(--brandcolor);
    background-color: var(--brandcolor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #188CE8;
    border-color: #188CE8;
}

.form-button .icon {
    margin-left: 10px;
}

.text-form-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}